<%= form_for @collection, :html => {:class => 'form-horizontal'} do |f| %>

  <div>    
    <label>Call number:</label>
    <%= f.text_field :call_number %>
  </div>
  
  <div>    
    <label>B-number:</label>
    <%= f.text_field :bnumber %>
  </div>
  
  <div class="offset4">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
    <%= f.submit 'Cancel', :cancel => true, :class => 'btn' %>
  </div>

<% end %>