<h1><%= @collection.title %></h1>

<%= render :partial => 'common/show_section_menu' %>

<div class="well">
  <dl class="dl-horizontal">
    <dt>id</dt>
    <dd><%= @collection.id %></dd>
  
    <dt>origination</dt>
    <dd><%= @collection.origination|| '' %></dd>
  
    <dt>date statement</dt>
    <dd><%= @collection.date_statement|| '' %></dd>
  
    <dt>key date</dt>
    <dd><%= @collection.keydate || "(missing)" %></dd>
  
    <dt>identifier (<%= @collection.identifier_type %>)</dt>
    <dd><%= @collection.identifier_value || '' %></dd>
  
    <dt>org unit</dt>
    <dd><%= @collection.org_unit.name || '' %></dd>
    
    <dt>call number</dt>
    <dd><%= @collection.call_number || '' %>
      <%= link_to 'edit', edit_collection_path(:id => @collection.id, :layout => false, :update_type => 'bnumber_call_number'),
          :class => 'inline-edit-link', :data => {:colorbox => true } %>
    </dd>
    
    <dt>b-number</dt>
    <dd><%= @collection.bnumber || '' %>
      <%= link_to 'edit', edit_collection_path(:id => @collection.id, :layout => false, :update_type => 'bnumber_call_number'),
          :class => 'inline-edit-link', :data => {:colorbox => true } %>
    </dd>
    
    <dt>total components</dt>
    <dd><%= @collection.num_components || '' %></dd>
  
    <dt>total series</dt>
    <dd><%= @collection.series_count || 0 %></dd>
  
    <dt>max depth</dt>
    <dd><%= @collection.max_depth || "N/A" %></dd> 
    
    <dt>boost queries</dt>
    <dd>
      <%= @boost_queries.join(', ') %>
      <%= link_to 'add/edit', edit_collection_path(:id => @collection.id, :layout => false, :update_type => 'boost_queries'),
          :class => 'inline-edit-link', :data => {:colorbox => true } %>
    </dd>
  
    <dt>created</dt>
    <dd><%= @collection.created_at.to_s %></dd>
  
    <dt>updated</dt>
    <dd><%= @collection.updated_at.to_s %></dd>
  </dl>
</div>

<%= render :partial => 'common/description' %>

<%= render :partial => 'update', :locals => { :record => @collection } %>

<%= render :partial => 'resources', :locals => { :record => @collection } %>



<%= render :partial => 'common/child_components' %>