<h1>OrgUnits</h1>

<div id="org_units_list" class="standalone_container">
  
  <table class="table org-units-table table-hover" cellspacing="0">
    <tr>
      <th class="org-unit-id">id</th>
      <th>name (+ display name)</th>
      <th>NYPL unit code</th>
      <th>NYPL location</th>
      <th></th>
    </tr>
    
  <% @org_units.each do |ou| %>
    <tr>
      <td class="org-unit-id"><%= ou.id %></td>
      <td><%= ou.name %>
        <% if !ou.name_short.blank? && ou.name != ou.name_short %>
        <br/>(<%= ou.name_short %>)
        <% end %>
      </td>
      <td><%= ou.code %></td>
      <td><%= !library_centers[ou.center].nil? ? library_centers[ou.center][:name_short] : '' %></td>
      <td class="actions"><%= link_to "Edit", {:action => 'edit', :id => ou.id}, :class => 'btn btn-mini'%></td>
    </tr>
  <% end %>
  
  </table>

  <div class="links">
  <%= link_to "Add organizational unit", {:action => 'new'}, :class => "btn btn-small" %>
  </div>

</div>